<form (ngSubmit)="signIn(form)" #form="ngForm">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="email" ngModel class="form-control" >
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="password" ngModel class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">SignIn</button>
  <button type="button" class="btn btn-primary" (click)="signIn(form)">SignUp</button>
</form>