
#name{
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
width: 500px;
}
#email{
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
width: 500px;
}

#comment{
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
width: 650px;
height: 200px;
}

.margin-bottom{
    margin-bottom: 10px;
}