

  <h3>COMMENT BOX</h3>

  <!------------Form Start---------->

    <div class="row">
      <div class="col-md-12">

        <form action="" method="POST" id="commentform">

          <div id="comment-name" class="form-row margin-bottom">
            <input type="text" placeholder="Name (required)" name="dname" id="name">
          </div>
          <div id="comment-email" class="form-row margin-bottom">
            <input type="text" placeholder="Mail (will not be published) (required)" name="demail" id="email">
          </div>
          <div id="comment-message" class="form-row margin-bottom">
            <textarea name="comment" placeholder="Message" id="comment"></textarea>
          </div>
          <a href="#">
            <input type="submit" name="dsubmit" class="margin-bottom" id="commentSubmit" value="Submit Comment">
          </a>
        </form>

      </div>
    </div>
