

  <h5>COMMENT BOX</h5>

  <!------------Form Start---------->

    <div class="row">
      <div class="col-md-12">

        <form action="" method="POST" id="commentform">

          <div id="comment-name" class="form-group">
            <input type="text" class="form-control" placeholder="Name (required)" name="dname" id="name">
          </div>
          <div id="comment-email" class="form-group">
            <input type="text" class="form-control" placeholder="Mail (required)" name="demail" id="email">
          </div>
          <div id="comment-message" class="form-group">
            <textarea name="comment" class="form-control" placeholder="Message" id="comment"></textarea>
          </div>
          <a href="#">
            <input type="submit" name="dsubmit" class="btn btn-primary" id="commentSubmit" value="Submit Comment">
          </a>
        </form>

      </div>
    </div>
